* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-size: 14px;
    
}

body {
    
    width: 80vw;
    margin: 0 auto;
    padding-top: 100px;
    // background-color: black;
    border: 1px solid black;
}
#mec{
    position: absolute;
    //opacity: 0;
}
@media screen and (max-width:767px) {
.contenir {
    width: 80vw;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 100px;
}


.logo {
    flex: 2;
    height: 40px;
    // border: 1px solid red;
}

.nav {
    // border: 1px solid red;
    flex: 10;
    text-align: right;
    align-items: center;
    padding: 0 20px;
    a{
        padding: 0 5px;
        font-size: 18px;
    }
}

hr {
    width: 100%;
    // margin: 0 0 1px 0;
    border: 1px solid rgb(0, 0, 0);
}

.nav2 {

    flex: 1;
    // height: 40px;
    padding: 10px 20px 10px 0;
    text-align: right;
    // border: 1px solid green;
    a{
        padding: 0 5px;
        font-size: 18px;
    }
}

.Search {
    background-color: black;
    border-bottom: 1px solid #FFF;
}

.Search_btn {
    background-color: black;
}
.bnr{
    width: 100%;
    height:600px;      
    overflow:hidden;
    // border: 1px solid black;
    .bnr_pic{
            display: flex;
            flex-direction: row; 
            width: 100%;
            height: 100%;
            animation:playMovie 20s linear infinite; 
                
        }     
   img{        
       border-radius:0;
    }        
}
.bnr_pic>a:hover{
               animation-play-state: paused;
            }
@keyframes playMovie {
    //  0% {margin-left:0px;}
    //  10% {margin-left:0px;}
    //  20% {margin-left:-1464px;}
    //  30% {margin-left:-1464px;}
    //  40% {margin-left:-2928px;}
    //  50% {margin-left:-2928px;}
    //  60% {margin-left:-4392px;}
    //  70% {margin-left:-4392px;}
    //  80% {margin-left:-5856px;}
    //  90% {margin-left:-5856px;}
    //  100% {margin-left:-5856px;}
    0%,20%{margin-left:0px;}
    25%,40% {margin-left:-1464px;}
    45%, 60%{margin-left: -2928px;}  
    65%, 90%{margin-left: -4392px;}  
    95%, 100%{margin-left: -5856px;}  
    }
.news{
    width: 100%;
    height: 200px;
    background-color: rgb(219, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    h2{        
        font-size: 100px;        
    }
}
.container{
    margin: 5px auto;
   // border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding: 0 auto;
    margin: 0;
    background-color: #FFF;
    
}
.conl{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    .pic{
        width: 50%;
        position: relative;        
    }
}
.p{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    background-color:  rgba(177, 176, 176, 0.3);
    a{
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        text-decoration: none;
        font-size: 20px;
        margin:20px auto;
        color: #FFF;
    }
    
     opacity: 0;
    &:hover{
        opacity: 1;
    }
}
.conr{
    width: 50%;
   
}
.pic img{
    //margin: 0 10px;
    width: 100%;
    border-radius: 25px;
    vertical-align:middle;
}


}